{% extends 'navbar.html' %}

{% block content %}
<br><br>
<div class="col d-flex justify-content-center">
  
    <div class="row"> 
<div class="col-12">
    <h2 style="background-color:#6495ED;" class="text-white p-2">Scheduled Data</h2>
    <div class="container">
    <!-- creating table -->
    <table class="table mt-3">
      <tbody>
        {% if form %}
        {% for i in form %}
        <tr>
          <td><p style="font-size: 15px;">{{ forloop.counter }}</p></td>
          <td><p style="font-size: 15px;">{{i.date}}</p></td>
          <td><p style="font-size: 15px;">{{i.time}}</p></td>
          <td><p style="font-size: 15px;">{{i.work}}</p></td>
          <td><button class="btn btn-danger"><a href="{% url 'delete' i.id %}">Done</a></button></td>
        </tr> 
        {% endfor %}
        {% else %}
        <p><b style="color:#6495ED">Add Your Schedule Here </b></p>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</div>
</div>


{% endblock content %}